Package: com.back123.travseiosapp
Name: travseiosapp
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: back123
Author: back123
Section: Tweaks
